body{
	font-size: 1em;
	font-family: arial;
	  /* Location of the image */
  background-image: url(images/background-photo.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

header{
	margin: 0;
	background: #2E2EFE;	
	color:#FE2E2E;
	text-align: center; ;
	position: 1em 0;
	border-bottom: 5px solid #000;

}
nav{
	text-align: center;
	margin-top: 0.7em;
}
nav li{
	display: inline-block;
	list-style: none;
}
nav li a{
	text-decoration: none;
	background: #0489B1;
	color: #fff;
	border-radius: 3px;
	padding: 0.6em 0.3em;
	box-shadow: 5px 5px 5px #333;
}
nav li a:hover {
	text-decoration: none;
	background: #AAE9F8;
	color: #fff;
	border-radius: 3px;
	padding: 0.6em 0.3em;
}
footer{
	border-top: 3px solid #000;
	background: #848484;
	color:#FF0000;
	text-align: center;
	font-size: 0.7em;
	padding: 1em 0;
}
section#contenido{
	background: #fff;
	padding: 1em ;
	margin: 2em auto;
	width: 80%;
}